/* Main CSS */
body {
    font-family: Arial;
}

/* Bootstrap - Navbar */
.navbar-inverse {
    background-color: #2D62DC;
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand  {
    color: #fff;
}

.navbar-brand > img {
    height: 100%;
    width: auto;
    display: inline-block;
}

.content {
    margin-top: 60px;
}
